@model IEnumerable<Practice_Project.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Smark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Smark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Sid }) |
            @Html.ActionLink("Details", "Details", new { id = item.Sid }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Sid })
        </td>
    </tr>
}

</table>
